@font-face {
    font-family: avenir;
    src: url("../fonts/AvenirLTStd-Roman.otf");
}

@font-face {
    font-family: avenir_bold;
    src: url("../fonts/Avenir LT 95 Black.ttf");
}

html, body {
	margin: 0;
	padding: 0;
	font-family: avenir, sans-serif;
	overflow: hidden;
}

h1 {
	font-size: 4em;
	margin-bottom: 0;
	font-family: avenir_bold;
}

h3 {
	font-size: 2em;
	font-family: avenir_bold;
}

p {
	font-size: 1.2em;
}

.row {
	margin: 30px 0;
}

.right-align {
	text-align: right;
}

button {
	background-color: #000;
	border: 2px solid #FFF;
	color: white;
	padding: 10px 15px;
	font-size: 1.2em;
	cursor: pointer;
}

button:hover {
	background-color: #FFF;
	color: #000;
	border: 2px solid #000;
}

header {
	display: flex;
	background-color: #80CBC4;
	color: white;
}

h2 {
	flex: 4;
	padding: 0 40px;
}

.container {
	padding: 0 40px;
}

.shopping-cart {
	flex: 1;
	display: flex;
	padding: 13px;
	flex-direction: row-reverse;
}

#cart {
	height: 35px;
}

#cart-count {
	margin: 10px 15px;
}

h2 > a, header > a {
	color: white;
	text-decoration: none;
}

h2 > a:hover,  header > a:hover {
	opacity: 0.8;
}

.return {
	color: #999;
	text-decoration: none;
}
.return:hover {
	opacity: 0.8;
}

.container_muffled {
	opacity: 0.3;
}